@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: darkred;
    background-image: url("https://image.freepik.com/fotos-gratis/deliciosa-pizza-de-carne-napolitana-pizzaria-e-comida-deliciosa_78826-2833.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.box {
    margin-top: 70px;
    margin-left: 30%;
    background-color:ghostwhite;
    padding: 20px;
    width: 30rem;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 30px;
}

h1 {
    margin-top: 50px;
    margin-left: 34%;
    background-color: ghostwhite;
    width: fit-content;
    padding: 20px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    border-radius: 30px;
}

input {
    height: 30px;
    margin-right:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    width: 178px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 20px;
    color: ghostwhite;
    border-radius: 30px;
    border-style:groove;
    background-color: #1b232e;
}

button:hover {
    background-color: #3c4856;
}