body {
    background-color: #406010;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.box {
    font-size: 1.5rem;
    background-color: #fff;
    box-shadow: 5px 3px 5px 3px #000;
    width: 400px;
    height: 100px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

button {
    width: 150px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    position: inherit;
    background-color: #406010;
    color: #fff;
    border-radius: 20px;
}